body {
  overflow: hidden;
  background-color: rgb(26, 35, 46);
  position: relative;
}
h1 {
  color: aliceblue;
}
label {
  margin-left: 10%;
  margin-right: 6px;
  color: aliceblue;
}
canvas {
  margin-right: 10%;
  margin-left: 10%;
}
